h1 {
  color: white;
  text-align: center;
  padding-top: 4%;
}

.heading {
  color: white;
  text-align: center;
  font-size: x-large;
  padding-top: 5%;
  font-size: 150%;
}
body {
  background-image: url("./background4.jpg");
  background-size: 100%;
  /* width: 100%;
    height: 100%; */
  /* background-repeat: no-repeat;
  background-size: auto; */
}

h2 {
  color: #ffffff;
  text-align: center;
}

h3 {
  font-size: 100 px;
  color: white;
}

.square {
  width: 50px;
  height: 50px;
  border: 1px solid black;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 10px 5px; /* 10px between elements */
}

.circle {
  background-color: green;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  display: block;
  margin: auto;
}

.firstBox {
  padding-left: 20px;
  height: 150px;
  width: 150px;
  background-color: red;
  display: inline-flex;
  justify-content: center;
  margin: 10px 10px; /* 10px between elements */
  border: 1px solid black;
}

.secondBox {
  padding-left: 20px;
  height: 150px;
  width: 150px;
  background-color: rgb(88, 88, 233);
  display: inline-flex;
  margin: 10px 10px; /* 10px between elements */
  justify-content: center;
  border: 1px solid black;
}

.thirdBox {
  background-color: rgb(81, 187, 81);
  padding-left: 20px;
  height: 150px;
  width: 150px;
  display: inline-flex;
  margin: 10px 10px; /* 10px between elements */
  justify-content: center;
  border: 1px solid black;
}

.fourthBox {
  background-color: rgb(223, 201, 78);
  height: 150px;
  width: 150px;
  display: inline-flex;
  margin: 0px 10px;
  justify-content: center;
  border: 1px solid black;
}

.container {
  margin: 50px 550px;
}

.number {
  font-size: 100%;
}

p {
  color: white;
  text-align: center;
  justify-content: center;
}

.subscribe {
  color: white;
  margin: 6% 20%;
  font-size: 150%;
  align-items: center;
}

.socialMedia {
  background-image: url(./images.png);
}
